
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
    background-color:#D91E36 ;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

footer {
    background-color: #d4142e
}